<nav>
    <div class="site-title">
        <a href="/">NodeJS blog</a>
        <p>a node JS blog site</p>
    </div>
    <ul>
        <li><a href="/"> Blogs</a></li>
        <li><a href="/about"> About</a></li>
        <li><a href="/blogs/create"> New blog</a></li>
    </ul>
    <button class="clicker">click</button>
</nav>

<script>
    const click = document.querySelector(".clicker");
    click.addEventListener("click", () => {
        console.log("klik klik klik");
    });
</script>