<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIAL -->
<%- include('../partials/head.ejs') %>
    <!-- END OF HEAD PARTIAL -->

    <body>
        <!-- NAV PARTIAL -->
        <%- include('../partials/nav.ejs') %>

            <!-- END OF NAV PARTIAL -->
            <div class="not-found content">
                <h2>404</h2>
                <p>content not found</p>
            </div>
            <!-- FOOTER PARTIAL -->
            <%- include('../partials/footer.ejs') %>

                <!-- END OF FOOTER PARTIAL -->
    </body>

</html>