<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIAL -->
<%- include('../partials/head.ejs') %>

    <!-- END OF HEAD PARTIAL -->

    <body>
        <!-- NAV PARTIAL -->
        <%- include('../partials/nav.ejs') %>

            <!-- END OF NAV PARTIAL -->
            <div class="about content">
                <h2>about us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil?
                </p>
            </div>
            <!-- FOOTER PARTIAL -->
            <%- include('../partials/footer.ejs') %>

                <!-- END OF FOOTER PARTIAL -->
    </body>

</html>