<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIAL -->
<%- include('../partials/head.ejs') %>

    <!-- END OF HEAD PARTIAL -->

    <body>
        <!-- NAV PARTIAL -->
        <%- include('../partials/nav.ejs') %>

            <!-- END OF NAV PARTIAL -->
            <div class="create-blog content">
                <form>
                    <label for="title">Blog title :</label>
                    <input type="text" id="title" name="title" required />
                    <label for="snippet">Blog snippet :</label>
                    <input type="text" id="snippet" name="snippet" required />
                    <label for="body">Blog body :</label>
                    <textarea id="body" name="body" required></textarea>
                    <button>Submit</button>
                </form>
            </div>
            <button class="test">provera</button>
            <!-- FOOTER PARTIAL -->
            <%- include('../partials/footer.ejs') %>

                <!-- END OF FOOTER PARTIAL -->
                <script src="../functions.js"></script>
    </body>

</html>